main {
    padding: 30px 120px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/*---------------------- Header Section------------------- */
header {
    background-color: black;
    color: white;
    height: 80vh;
    border-radius: 20px;
}

header .banner {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.banner-text {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.banner-text h1 {
    font-size: 3vw;
}

.banner-text .watch-button button {
    background-color: orange;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 12px 25px;
}

.banner-text .watch-button button:hover {
    background-color: red;
    color: white;
    transition: all 0.5s ease-in-out;
}

.banner-text .watch-button button:hover>i {
    margin-left: 15px;
    transition: all 1s ease-in-out;
}

.banner-image {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.banner-image img {
    width: 85%;
}

/* -------------------------Content--------------------- */
.content {
    margin-top: 50px;
}

.content .container {
    display: grid;
    grid-template-columns: 250px repeat(1, 1fr);
    column-gap: 25px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: black;
    border-radius: 5px;
    padding: 20px;
    max-height: 200px;
}

.options button {
    padding: 10px 0px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.options button.selected {
    background-color: orange;
    color: black;
}

.options button:hover {
    background-color: orange;
}

/* ----------------------------Blogs----------------------- */
.blogs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogs-container .blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 25px;
    row-gap: 25px;
}

article.blog {
    border: 1px solid lightblue;
    border-radius: 15px;
}

article .blog-image img {
    width: 100%;
}

article .blog-body {
    padding: 10px;
}

article .blog-button {
    font-size: 15px;
    background-color: white;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

article .blog-footer {
    padding: 0px 15px 15px 15px;
}

article .blog-footer span {
    margin-right: 25px;
}

.more .view-all {
    margin-top: 50px;
    padding: 20px 50px;
    font-size: 20px;
    background-color: orange;
    color: black;
    border: none;
    border-radius: 5px;
    display: none;
}

/* ---------------Upcoming Match------------------- */
.match-schedule-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.team-flag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-flag img {
    width: 33%;
}

.team-flag span {
    margin: 0px 15px;
}

/* -----------------------------Footer---------------------------- */
footer {
    background-color: black;
    color: white;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;

}

footer hr {
    width: 85%;
    border: 1px solid rgb(143, 143, 143);
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

footer ul li {
    margin: 10px 30px;
}

.social-icon a {
    color: white;
    padding: 10px;
    font-size: 25px;
}

/* -------------Responsive Design -------------- */

/* #########-------Mobile Device---------####### */
@media screen and (max-width:688px) {
    main {
        padding: 0px 15px;
    }

    header .banner {
        grid-template-columns: repeat(1, 1fr);
    }

    .banner-text p {
        font-size: 12px;
    }

    .banner-text h1,
    p {
        text-align: center;
    }

    .banner-text h1 {
        font-size: 25px;
    }

    .banner-text {
        align-items: center;
    }

    .banner-image {
        justify-content: center;
    }

    .banner-image img {
        width: 60%;
    }

    .content {
        margin-top: 10px;
    }

    .content .container {
        display: flex;
        flex-direction: column;
    }

    .options {
        background-color: white;
        min-height: 200px;
        align-items: center;
    }

    .options button {
        padding: 10px 25px;
    }

    .blogs-container .blogs {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0px;
    }

    .footer-menu ul {
        flex-direction: column;
        padding: 0px;
    }
}

/* #########-------Tablet Device---------####### */
@media screen and (min-width:689px) and (max-width:992px) {
    main {
        padding: 0px 25px;
    }

    .banner-text p {
        font-size: 16px;
    }

    .banner-text h1 {
        font-size: 35px;
    }

    .banner-image {
        justify-content: center;
    }

    .banner-image img {
        width: 90%;
    }

    .content {
        margin-top: 10px;
    }

    .content .container {
        display: flex;
        flex-direction: column;
    }

    .options {
        background-color: white;
        flex-direction: row;
        justify-content: space-between;
        padding: 80px 0px 40px 0px;

    }

    .options button {
        width: 200px;
    }

    .blogs-container .blogs {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
    }

    .more .view-all {
        display: block;
    }
}